@tailwind base;
@tailwind components;
@tailwind utilities;

.no-ring:focus-visible {
    @apply focus:ring-0 focus:ring-offset-0 focus:outline-none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;

    }
    input[type="number"] {
        -moz-appearance: textfield;
    }
    button, a {
        -webkit-tap-highlight-color: transparent;
    }
    ::-webkit-scrollbar {
        width: 0.25rem;
    }

    ::-webkit-scrollbar-track:hover {
        @apply bg-primary-100 rounded-full;
    }

    ::-webkit-scrollbar-thumb {
        @apply rounded-full bg-primary-500;
    }
}