variables:
  FRONTEND_TAG_LATEST: $CI_REGISTRY_IMAGE/frontend:latest
stages:
  - make_docker_image
  - deploy

.before script docker registry login: &before-script-docker-registry-login
  - mkdir ~/.docker
  - cat $CR_CONFIG > ~/.docker/config.json

make_front_docker_image:
  stage: make_docker_image
  image: docker:latest
  before_script:
    - *before-script-docker-registry-login
  script:
    - cd client
    - docker build --pull -t $FRONTEND_TAG_LATEST -f ./Dockerfile .
    - docker push $FRONTEND_TAG_LATEST
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      when: manual

deploy:
  stage: deploy
  image: hub.66bit.ru/shared/stk8s:1.26.2
  script:
    - kubectl delete -f ./CI/CD/FrontDeployment.yaml
    - kubectl apply -f ./CI/CD/persistent.yaml
    - kubectl apply -f ./CI/CD/FrontDeployment.yaml
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      when: manual
