@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}
@keyframes opacity1 {
  0% { opacity: 0.5 }
  10% { opacity: 1 }
  40% { opacity: 1 }
  60% { opacity: 0 }
  90% { opacity: 0 }
  100% { opacity: 0.5 }
}
@keyframes opacity2 {
  0% { opacity: 0.5 }
  10% { opacity: 0 }
  40% { opacity: 0 }
  60% { opacity: 1 }
  90% { opacity: 1 }
  100% { opacity: 0.5 }
}
.spinner {
  animation: spin 2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.spinner1 {
  position: absolute;
  transform: rotateX(180deg);
  animation: opacity1 2s linear infinite;
}
.spinner2 {
  position: absolute;
  z-index: 5;
  animation: opacity2 2s linear infinite;
}

