@tailwind base;
@tailwind components;
@tailwind utilities;

.table {
  @apply w-full border-collapse table-auto;
}
.table tbody tr:nth-child(odd) {
  @apply bg-primary-100/50;
}
.table tbody tr:hover {
  @apply bg-primary-100;
}

.table > * > tr > *:first-child {
    @apply border-l-0
}
.table > * > tr > *:last-child {
    @apply border-r-0
}
.table > * > tr > * {
    @apply border border-primary-200 p-1
}
.table thead tr > * {
    @apply bg-primary-700 text-white border-y-0 border-primary-500 select-none;
}
.table thead tr th:hover {
    @apply bg-primary-600;
}
.table tbody tr:last-child > * {
    @apply border-b-0
}
